@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.article-card {
    margin: 15px;
}

.main-articles img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    aspect-ratio: 16 / 9;
}

.text-main {
    margin-left: 1rem;
    margin-top: 1rem;;
    margin-bottom: 1rem;
}

header {
    display: flex;
    background-color: rgba(235, 233, 127, 0.911);
    padding: 15px 100px;
    align-items: center;
    justify-content: space-between;
}

.logo-menu {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.75rem;
}

.logo-menu h1 {
    display: flex;
    font-weight: 400;
}

.logo-menu img {
    max-width: 50px;
    height: auto;
}

.menu-btn {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    margin-left: 20px;
    
}

/* Container que coloca main e sidebar lado a lado */
.layout-container {
    display: flex;
    background-color: #f6f6f6;
    flex-direction: row;
    flex: 2;
}

main {
    display: flex;
    flex-direction: column;
    flex: 3; /* Ocupa a maior parte do espaço */
    padding: 20px;
    flex-direction: column;
}

.main-articles {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

.article-card h3 {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.know-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 24px;
    border: 1.5px black solid;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}

.know-more:hover {
    background-color: #ddd;
}
 
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1; /* Ocupa o espaço lateral */
    padding: 20px;
    background-color: #f6f6f6;
    min-width: 320px;
    flex-direction: column;
    gap: 1.5rem;
}

.video-sidebar {
    width: 100%;
    border-radius: 8px; /* Deixa o design mais moderno */
    overflow: hidden;   /* Garante que o vídeo respeite o arredondamento */
    line-height: 0;     /* Remove pequenos espaços fantasmas na base */
    margin-top: 4.75rem;
}

.video-sidebar iframe {
    width: 100%;
    height: auto;       /* Deixa o CSS controlar a altura */
    aspect-ratio: 16 / 9; /* A proporção mágica para vídeos modernos */
    border: none;       /* Remove bordas de borda de frame antigas */
}

footer {
    background-color: rgba(192, 191, 105, 0.911);
    padding: 5rem;
}

.social-media {
    display: flex;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    gap: 1rem;
}
